<div class="container">
		<div class="row">
			<%= link_to 'Home', root_path %>
			<div class="col s10 offset-s1">
			<% if current_user %>
				<h1>Searched Posts</h1>	
			<% end %>		
			</div>
		</div>		
		<div class="row">
			 	<% @posts.each do |post| %>
			 		<div class="col s12 m8 offset-m2">
          <div class="card">
            <div class="card-title">
              <span class="center-align"><%= image_tag post.user.image.url(:small) %><%= link_to post.title, post_path(post) %></span> 
			      </div>
			      <div class="card-action">
			        <p class="center-align"> <%= post.teaser %> </p>
			      </div>
			    </div>
			 	<% end %>
			 	<% if @posts.blank? %>
			 		<h4 class="center-align">Sorry there is nothing in the databases with <%= params[:search] %> </h4>
			 	<% end %>
		</div>
	</div>