<% if current_user %>
  <h2></h2> 
<% else %>
  <h2> Welcome to Small </h2>
<% end %>    

  <% if @posts.any? %>
    <ul style="list-style: none;">

  <div class="container">
    <%= will_paginate @posts %>
    <div class="row">
    
     <% @posts.each do |post| %>
        <div class="col s12 m8 offset-m2">
          <div class="card">
            <div class="card-title">
              <span class="center-align">
              <%= link_to image_tag(post.user.image.url(:small)), poster_path(post) %>
              <%= link_to post.title, post_path(post) %>
              </span> 
            </div>
            <div class="card-action">
              <p class="center-align"> <%= post.teaser %> </p>
              <% if post.photo.file? %>
                <p><%= image_tag post.photo.url(:small) %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @posts %>
  </div>
      
  <% else %> 
    <p> There are currently no Post. Please come back later </p>
  <% end %>  
