<div class="row">
	<div class="forms col s12 b-town">
		<div class="in_forms">
			<%= form_for @post do |f| %>	
				<%= f.label :title %>
				<%= f.text_field :title %>
				<br>
				<%= f.label :teaser %>
				<%= f.text_field :teaser %>
				<br>
				<div class="text-area">
					<%= f.label :content %>
					<%= f.text_area :content %>
				</div>
				<div>
					<%= f.label :photo %>
					<%= f.file_field :photo %>
				</div>
				<br>
				<%= f.submit :class => 'btn' %>
			<% end %>	
		</div>
	</div>
</div>
