<% if current_user %>	
	<div class="container">
		<div class="row">
			<div class="col s10 offset-s1">
			<%= link_to 'Home', root_path %>
			<% if current_user %>
				<h1><%= current_user.first_name %>'s Posts</h1>	
			<% end %>		
			</div>
		</div>	
		<div class="row">
			 	<% current_user.posts.each do |post| %>
			     <div class="col s12 m10 offset-m1">
			 	      <div class="card">
			         <div class="card-title">
			           <span class="center-align"><%= image_tag current_user.image.url(:small) %><%= link_to post.title, post_path(post) %></span> 
			         </div>
			         <div class="card-action">
			         	<p class="center-align"> <%= post.teaser %> </p>
			         </div>
			       </div>
			     </div>
			    
			 	<% end %>
			
	</div>

<% else %>
	<div class="container">
		<div class="row">			
			<div class="col s10 offset-s1">
			<%= link_to 'Home', root_path %>
			<% if current_user %>
				<h1><%= current_user.first_name %>'s Posts</h1>	
			<% end %>		
			</div>
		</div>	
		<div class="row">
				<%= will_paginate @posts %>
			 	<% @posts.each do |post| %>
			     <div class="col s12 m10 offset-m1">
			 	      <div class="card">
			         <div class="card-title">
			           <span class="center-align"><%= image_tag post.user.image.url(:small) %><%= link_to post.title, post_path(post) %></span> 
			         </div>
			         <div class="card-action">
			         	<p class="center-align"> <%= post.teaser %> </p>
			         </div>

			       </div>

			     </div>
			     
			 	<% end %>

	</div>
	<%= will_paginate @posts %>
<% end %>