<!DOCTYPE html>
<html>
  <head>
    <title>Small</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="row valign-wrapper">
        <div class="col s2">
          <p class="valign">Welcome to Small, <%= current_user.first_name %> </p>
        </div>
        <div class="col s8">
          <p><%= image_tag current_user.image.url(:small) %></p>
        </div>
        <div class="col s2 top-move">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>  
      <%= link_to 'Login', new_user_session_path %> |

      <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %> 

    <%= yield %>
  </body>
</html>
