<!DOCTYPE html>
<html>
  <head>
    <title>Small</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="row">
        <div class="col s10">
          <p>Welcome to Small, <%= current_user.first_name %> <%= image_tag current_user.image.url(:small) %></p>
        </div>
        <div class="col s2 top-move">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>  
      <%= link_to 'Login', new_user_session_path %>
    <% end %> 

    <%= yield %>
  </body>
</html>
